<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
	 http://www.springframework.org/schema/aop   
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
     http://www.springframework.org/schema/tx   
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/worktest">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="12345"></property>
		
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>

				<value>com.test.bean.Users</value>
				<value>com.test.bean.Collections</value>
				<value>com.test.bean.Shoppingcart</value>
				<value>com.test.bean.Proxys</value>
				<value>com.test.bean.Share</value>
				<value>com.test.bean.Proxyperson</value>
				<value>com.test.bean.Goods</value>
				<value>com.test.bean.Consigneeinfo</value>
				<value>com.test.bean.Ads</value>
				<value>com.test.bean.Orders</value>
				<value>com.test.bean.Goodspics</value></list>
		</property></bean>
	<!-- 用户模块bean注入 -->
		<bean id="usersdao" class="com.test.dao.impl.UsersDaoImpl">
		
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="usersservice" class="com.test.service.impl.UsersServiceImpl"></bean>
		<bean id="usersaction" class="com.test.action.UsersAction"></bean>
	<!-- 收货人信息模块bean注入 -->
		<bean id="cginfodao" class="com.test.dao.impl.ConsigneeinfoDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="cginfoser" class="com.test.service.impl.ConsigneeinfoServiceImpl"></bean>
		<bean id="cginfoaction" class="com.test.action.ConsigneeinfoAction"></bean>
	
	<!-- 订单模块模块bean注入 -->
		<bean id="ordersdao" class="com.test.dao.impl.OrdersDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="ordersser" class="com.test.service.impl.OrderServiceImpl"></bean>
	
	<!-- 代理人模块bean注入 （暂不使用）-->	
		<bean id="ppdao" class="com.test.dao.impl.ProxypersonDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="ppser" class="com.test.service.impl.ProxypersonServiceImpl"></bean>
		
	<!-- 代理（商家）模块bean注入 -->
		<bean id="proxysdao" class="com.test.dao.impl.ProxysDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="proxyser" class="com.test.service.impl.ProxyServiceImpl"></bean>
		
	<!-- 分享模块bean注入 -->
		<bean id="sharedao" class="com.test.dao.impl.ShareDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="shareser" class="com.test.service.impl.ShareServiceImpl"></bean>
	
	<!-- 购物车模块bean注入 -->
		<bean id="cartdao" class="com.test.dao.impl.ShoppingcartDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="cartser" class="com.test.service.impl.ShoppingcartServiceImpl"></bean>
		
		<bean id="goodsdao" class="com.test.dao.impl.GoodsDaoImpl">
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<bean id="goodsser" class="com.test.service.impl.GoodsServiceImpl"></bean>
		<bean id="goodsaction" class="com.test.action.GoodsAction"></bean>
	</beans>