<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
	 http://www.springframework.org/schema/aop   
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
     http://www.springframework.org/schema/tx   
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
<import resource="applicationContext-zfw.xml"/>
<import resource="applicationContext-lyy.xml"/>
	<context:annotation-config />
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/worktest">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="12345"></property>
		
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>

				<value>com.test.bean.Users</value>
				<value>com.test.bean.Collections</value>
				<value>com.test.bean.Shoppingcart</value>
				<value>com.test.bean.Proxys</value>
				<value>com.test.bean.Share</value>
				<value>com.test.bean.Proxyperson</value>
				<value>com.test.bean.Goods</value>
				<value>com.test.bean.Consigneeinfo</value>
				<value>com.test.bean.Ads</value>
				<value>com.test.bean.Orders</value>
				<value>com.test.bean.Goodspics</value>
				<value>com.test.bean.Address</value>
				<value>com.test.bean.Orderaddress</value>
				<value>com.test.bean.Ordergoods</value>
				<value>com.test.bean.Orderseller</value>
				<value>com.test.bean.Cartgoods</value>
				<value>com.test.bean.Operator</value>
				<value>com.test.bean.Orderincome</value></list>
		</property></bean>
		
		<bean id="usersdao" class="com.test.dao.impl.UsersDaoImpl">
		
			<property name="sessionFactory">
				<ref local="sessionFactory"/>
			</property>
		</bean>
		<!--  
		<bean id="usersservice" class="com.test.service.impl.UsersServiceImpl"></bean>
		
		<bean id="usersaction" class="com.test.action.UsersAction"></bean>
		-->
	
	</beans>